body{
    margin:15px;
    scroll-behavior: smooth;
}

/* Navigation Bar */

.navbar{
    height:80px;
}
.navbar-brand{
    font-size: 30;
    margin-left:5vw;
    margin-right:60vw;
}
.C{
    color: rgb(121, 10, 225);
    font-family: 'Anton', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}
.R{
    font-size: 25px;
    font-family: 'Anton', sans-serif;
    font-family: 'Poppins', sans-serif;
} 
.Sign{
    color: rgb(121, 10, 225);
}

/* ------Section2------ */

#login-pg{
    display:flex;
}
.picture{
    height:450px;
    width:600px;
    flex: 1;
}
.picture img{
    height:450px;
    width:600px;
}
.info{
    margin-top:8vh;
    flex:1;
}
h2{
    font-family: 'Anton', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: bold;
    margin-left:4vw;
}
.log{
    margin-top:2px;
    margin-left:4.4vw;
}
.log12{
    margin-left:1vw;
}
.form{
    padding:40px;
}
input{
    height:50px;
    border-color:rgb(109, 60, 245)!important ;
}
.special {
    background-color: rgb(109, 60, 245)!important;
    color:white!important;
    border-radius:25px!important;
    height:50px;
    width:200px;
}
button{
    border-radius:25px!important;
    height:50px;
    width:200px;
}
.login{
    margin-left:4vw;
}
.fa{
    margin-left:10px;
    margin-right:10px;
    height:30px;
    height:30px;
}